
.container-report table{
    /*position: absolute;*/
    width: 50%;
    
    /*border-collapse: collapse;
    border: 1px solid #ddd;*/
    top: -700px;
    left: 10%;
    font-size: 18px;
}

/*.tablePuesto{
    position: relative;
    width: 50%;
    left: 20%;
    font-size: 18px;
}*/